[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
marshmallow = "*"
flask-restful = "*"
python-dotenv = "*"
marshmallow-sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-marshmallow = "*"
redis = "*"

[requires]
python_version = "3.8"
