{% extends 'admin/master.html' %}

{% block body %}
    <h2>Extras</h2>
    <h4>Use these when adding media such as images or video clips. Afterwards the main admin interface can be used to edit/add to them.</h4>
    <a href="/admin/upload"><h3 style="color: #d9230f; text-decoration: underline;">Upload a clip.</h3></a>
    <a href="/admin/add-restaurant"><h3 style="color: #d9230f; text-decoration: underline;">Add a restaurant.</h3></a>
    <br>
    <br>
    <a href="/admin-logout"><h5 style="color: #d9230f; text-decoration: underline;">Logout.</h5></a>
{% endblock %}